.header {
  align-items: center;
  background-color: rgb(0, 87, 70);
  display: flex;
  flex-direction: row;
  height: 40%;
  justify-content: center;
  padding-top: 50px;
  position: relative;
}

.header_wrapper {
  margin-right: 100px;
}

.header_title {
  color: white;
  font: bolder 130px Heebo, sans-serif;
  font-variant: small-caps;
  letter-spacing: -3px;
  line-height: 140px;
  margin: -15px 0;
  padding: 0;
  text-align: center;
}

.header_sub {
  margin: 0 0;
  text-align: center;
}

.header_portrait {
  height: 100%;
}

.header_portrait_wrapper {
  height: 95%;
}

.header_sub--email {
  color: #bbb;
  font: 100 40px Raleway, sans-serif;
  letter-spacing: -1px;
  text-decoration: none;
}

.curriculum_list {
  list-style: none;
  max-width: 50%;
  padding: 0;
  margin: auto;
  margin-top: 20px;
  min-height: 50%;
}

.curriculum_item {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  word-wrap: break-word;
}

.curriculum_date {
  color: #454545;
  font-family: "VT232", monospace;
  font-size: 25px;
  margin: 0;
}

.curriculum_content {
  color: #111;
  font-family: Raleway, sans-serif;
  font-size: 25px;
  margin: 0;
  width: 100%;
  padding: 5px;
  background-color: #ccc;
}

@media only screen and (max-height: 800px) {
  .header {
    height: 350px;
  }
}

@media only screen and (max-width: 940px) {
  .header {
    height: 300px;
    padding-top: 10px;
  }

  .header_title {
    font-size: 90px;
  }
}

@media only screen and (max-width: 800px) {
  .header {
    flex-direction: column;
    height: 300px;
    padding-top: 20px;
  }

  .header_wrapper {
    margin-right: 0;
    margin-bottom: 10px;
  }

  .nav {
    display: none;
  }

  .header_title {
    font-size: 60px;
    line-height: 60px;
  }

  .header_sub {
    font-size: 30px;
    padding-top: 10px;
  }
  .header_portrait_wrapper {
    text-align: center;
    height: 60%;
  }
}

@media only screen and (max-width: 540px) {
  .curriculum_list {
    max-width: 95%;
  }
}

@media only screen and (max-width: 370px) {
  .header {
    height: 220px;
    padding-top: 20px;
  }

  .header_portrait_wrapper {
    height: 50%;
    text-align: center;
  }

  .header_title {
    font-size: 45px;
    font-weight: bold;
  }

  .header_sub {
    font-size: 25px;
  }
}
