body {
  height: 100%;
  position: absolute;
  width: 100%;
}

.nav_outer {
  align-items: center;
  background-color: rgb(0, 87, 70);
  display: flex;
  height: 10%;
  justify-content: space-between;
  width: 100%;
}

.nav {
  display: flex;
  justify-content: space-around;
  list-style: none;
  width: 30%;
}

.nav_p {
  color: #bbb;
  font-family: Raleway, sans-serif;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 1.4px;
  padding-left: 15px;
}

.nav_a {
  color: #bbb;
  font-family: Raleway, sans-serif;
  font-size: 16px;
  letter-spacing: 1.25px;
  text-decoration: none;
}

.header {
  align-items: center;
  background-color: rgb(0, 87, 70);
  display: flex;
  flex-direction: column;
  height: 40%;
  justify-content: space-around;
  padding-top: 50px;
  position: relative;
}

.header_title {
  color: white;
  font: bolder 130px Heebo, sans-serif;
  font-variant: small-caps;
  letter-spacing: -3px;
  line-height: 140px;
  margin: -15px 0;
  padding: 0;
  text-align: center;
}

.header_sub {
  color: #bbb;
  font: 100 40px Raleway, sans-serif;
  letter-spacing: -1px;
  margin: 0 0;
  text-align: center;
}

.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contact_method {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.contact_method_name {
  color: #888;
  font-family: Raleway, sans-serif;
  margin: 10px 0;
  padding-right: 15px;
}

.contact_method_content {
  color: white;
  font: 600 20px Raleway, sans-serif;
  letter-spacing: 2;
}

.curriculum_list {
  list-style: none;
  margin: 0;
  padding-left: 50%;
}

.curriculum_list::before {
  background-color: rgb(0, 87, 70);
  content: ' ';
  height: 400px;
  min-height: 44.9%;
  position: absolute;
  transform: translateX(-50%);
  width: 10px;
}

.curriculum_item::before {
  background-color: white;
  border: 6px solid rgb(0, 87, 70);
  border-radius: 50%;
  box-sizing: border-box;
  content: ' ';
  height: 30px;
  left: 0;
  min-width: 30px;
  position: relative;
  right: 0;
  transform: translateX(-50%);
}

.curriculum_item {
  align-items: center;
  display: flex;
  height: 80px;
}

.curriculum_date {
  color: #444;
  font-family: 'VT232', monospace;
  font-size: 20px;
  position: absolute;
}

.curriculum_content {
  color: #111;
  font-family: Raleway, sans-serif;
  font-size: 25px;
  max-width: 40%;
  position: absolute;
}

.odd .curriculum_date {
  right: 52%;
  text-align: right;
}

.odd .curriculum_content {
  left: 52%;
}

.even .curriculum_date {
  left: 52%;
}

.even .curriculum_content {
  right: 52%;
  text-align: right;
}

@media only screen and (max-height: 800px) {
  .header {
    height: 350px;
  }
}

@media only screen and (max-width: 940px) {
  .header {
    height: 300px;
    padding-top: 10px;
  }

  .header_title {
    font-size: 90px;
  }

  .curriculum_list {
    padding-left: 30px;
    padding-right: 10px;
  }

  .odd .curriculum_date,
  .even .curriculum_date {
    font-size: 15px;
    left: 0;
    margin-right: 12px;
    position: relative;
    text-align: left;
  }

  .odd .curriculum_content,
  .even .curriculum_content {
    font-size: 20px;
    left: 0;
    line-height: 30px;
    max-width: none;
    position: relative;
    text-align: left;
    transform: translateY(-1%);
  }
}

@media only screen and (max-width: 540px) {
  .nav {
    display: none;
  }

  .header {
    height: 240px;
    padding-top: 20px;
  }

  .header_title {
    font-size: 60px;
    line-height: 60px;
  }

  .header_sub {
    font-size: 30px;
    padding-top: 10px;
  }

  .curriculum_item {
    margin-bottom: 20px;
  }

  .curriculum_list {
    padding-left: 10px;
  }

  .curriculum_list::before {
    display: none;
  }

  .curriculum_item::before {
    display: none;
  }
}

@media only screen and (max-width: 370px) {
  .header {
    height: 190px;
    padding-top: 20px;
  }

  .header_title {
    font-size: 45px;
    font-weight: bold;
  }

  .header_sub {
    font-size: 25px;
  }

  .curriculum_item {
    height: auto;
    margin-bottom: 10px;
  }
}
